$yellow: #FFF120;

img {
    width: 136px;
    height: 130px;
}

.bg-yellow {
    background-color: $yellow !important;
}

.card {
    background-color: transparent;    
    border: $yellow solid 9px !important;
}

.font-large {
    font-size: 23px !important;
}

// Controles da paginação
pagination-controls /deep/ a {
    color: $yellow;
}

pagination-controls /deep/ .current {
    background-color: #fff;
}

pagination-controls /deep/ .current span {
    color: #000000
}